/* HEADER*/
*{
  font-family:'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 }
 body{
  width:85%;
  min-height: 100%;
  margin-left:auto;
  margin-right:auto;
 }

header{
  display: flex;
}
.logo{
 width: 100px;
 height: 50px;
 margin-right: auto;
 margin-left: 35px;
 margin-top: 13px;
}

a.log-in{
 display: flex;
 color: #0065FC;
 font-weight:bold;
 padding: 32px;
 font-size: 17px;
}
nav.nav-bar{
  margin-top: 32px;
  font-size: 17px;
}
a.hebergements{
  padding: 32px;
  color: #0065FC;
  text-align: center;
  border-top: 3px solid #0065FC;
}
a.activités{
  padding: 32px;
  color: black;
}

/* MAIN */

h1{
 margin-top: 30px;
 margin-left: 35px;
 margin-bottom: 10px;
} 
p.description{
 margin-left: 37px;
 margin-top: 12px;
 margin-bottom: 20px;
}
.search{
  margin-bottom: 35px;
}
.place-icon{
  padding: 17px 20px;
  margin-left: 35px;
  background-color: #F0F0F0;
  border-radius: 15px 0 0 15px;
}
input{
 position: relative;
 width: 250px;
 height: 53px;
 padding: 0 25px;
 border: 1px solid #D8D8D8;
}
.search-button{
  background-color: #0065FC;
  color: white;
  padding: 0px 25px;
  font-size: 15px;
  height: 53px;
  border-radius: 0 15px 15px 0;
  border-color:#0065FC ;
}



::placeholder{
 font-weight: bold;
 font-size: 17px;
 color: black;
 padding-left: 0px;
 text-align: left;
}

h2{
  margin-left: 35px;
  margin-right: 25px;
  margin-top: 7px;
  display: flex;
}
.filtres{
  display: flex;
  margin-bottom: 15px;
}
h3{
  display: flex;
}
.economic{
 display: flex;
 border-radius: 25px;
 background-color: white;
 border: 2px solid #c9c7c7;
 padding: 10px 20px;
 margin-right: 40px;
 font-size: 15px;
 font-weight: bold;
 text-align: center;
 align-items: center;
}
.family{
 display: flex;
 border-radius: 25px;
 background-color: white;
 border: 2px solid #c9c7c7;
 padding: 10px 20px;
 margin-right: 40px;
 font-size: 15px;
 font-weight: bold;
 align-items: center;
}
.romantic{
 display: flex;
 border-radius: 25px;
 position: relative;
 background-color: white;
 border: 2px solid #c9c7c7;
 padding: 10px 20px;
 margin-right: 40px;
 font-size: 15px;
 font-weight: bold;
 align-items: center;
}
.animals{
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: 2px solid #c9c7c7;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.info{
  margin-top: 25px;
  margin-left: 35px;
  margin-bottom: 35px;
}
#first-part{
  display: grid;
  background-color: indianred;
  margin-left: 35px;
}
.title-first-part{
  display: grid;
  grid-area: hd;
  width: fit-content;
  background-color: grey;
}
.title{
  margin: 0;
  padding: 10px 0;
  background-color: #D8D8D8;
}
#first-part article{
  display: grid;
  width: 250px;
  height: 150px;
}
div.hebergements-marseille{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  width: fit-content;
  padding: 40px;
  padding-top: 20px;
  border-radius: 25px;
  background-color: #D8D8D8;
  grid-template-areas: 
  "hd hd hd"
  "img img img"
}
.grid-image{
  display: grid;
  margin-top: 20px;
  object-fit: cover;
  border-radius: 15px;
  width: 220px;
  height: 130px;
  border: 7px solid white;
}











  























/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }






















