/* HEADER*/
*{
  font-family:'Raleway', sans-serif;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 }
 body{
   margin: 0 auto;
  margin-top: 3px;
 }

header{
  display: flex;
  margin-left: 94px;
  margin-right: 97px;
}
.logo{
 width: 100px;
 height: 50px;
 margin-right: auto;
 margin-top: 13px;
}

a.log-in{
 display: flex;
 color: #0065FC;
 font-weight:bold;
 padding: 32px;
 font-size: 17px;
}
nav.nav-bar{
  margin-top: 32px;
  font-size: 17px;
}
a.hebergements{
  padding: 32px;
  color: #0065FC;
  text-align: center;
  border-top: 3px solid #0065FC;
}
a.activités{
  padding: 32px;
  color: black;
}

/* MAIN */

h1{
 margin-top: 30px;
 margin-left: 97px;
 margin-bottom: 10px;
} 
p.description{
 width: 85%;
 margin-left: 97px;
 margin-top: 12px;
 margin-bottom: 20px;
}
.search{
  width: 85%;
  margin-bottom: 35px;
  margin-left: 97px;
}
.place-icon{
  padding: 17px 20px;
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
}
input{
 position: relative;
 width: 250px;
 height: 53px;
 padding: 0 25px;
 border: 3px solid #F2F2F2;
}
.search-button{
  background-color: #0065FC;
  color: white;
  padding: 0px 25px;
  font-size: 15px;
  height: 53px;
  border-radius: 0 15px 15px 0;
  border-color:#0065FC;
}

::placeholder{
 font-weight: bold;
 font-size: 17px;
 color: black;
 padding-left: 0px;
 text-align: left;
}

h2{
  margin-left: 90px;
  margin-right: 25px;
  margin-top: 7px;
  display: flex;
}

/* SECTION AVEC LES FILTRES*/

.filtres{
  display: flex;
  margin-bottom: 15px;
}
i.fas.fa-money-bill-wave-alt:before{
  position: absolute;
  color: #0065FC;
  padding: 17px;
  border-radius: 30px;
  background-color: #93BFFF;
  width: fit-content;
  height: fit-content;
}
i.fas.fa-child:before{
  position: absolute;
  color: #0065FC;
  padding: 17px;
  border-radius: 30px;
  background-color: #93BFFF;
  width: fit-content;
  height: fit-content;
}
i.fas.fa-heart:before{
  position: absolute;
  color: #0065FC;
  padding: 17px;
  border-radius: 30px;
  background-color: #93BFFF;
  width: fit-content;
  height: fit-content;
}
i.fas.fa-dog:before{
  position: absolute;
  color: #0065FC;
  padding: 17px;
  border-radius: 30px;
  background-color: #93BFFF;
  width: fit-content;
  height: fit-content;
}
h3.filtre-name{
  display: flex;
  margin-top: 11px;
  margin-bottom: 0;
  height: fit-content;
  padding-left: 45px;
  margin-left: 15px;
  margin-right: 15px;
  color: black;
}

.economic{
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: 3px solid #F2F2F2;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 40px;
}
.family{
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: 3px solid #F2F2F2;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 40px;
}
.romantic{
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: 3px solid #F2F2F2;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 40px;
}
.animals{
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: 3px solid #F2F2F2;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
}
.info{
  margin-top: 25px;
  margin-left: 97px;
  margin-bottom: 35px;
}

/* SECTION HEBERGEMETNS A MARSEILLE*/

#first-part{
  display: flex;
  height: 630px;
  width: fit-content;
  margin-left: 94px;
}
h2.title{
  margin-left: 35px;
}
.title-first-part{
  display: flex;
  margin-top: 20px;
  padding-left: 35px;
  position: absolute;
  height: fit-content;
  background-color: #F2F2F2;
}
#first-part article{
  display: flex;
  width: fit-content;
  height: fit-content;
  height: 150px;
}
.gallery-hebergements{
  transition: all .2s ease-in-out;
  width: 25%;
}
.gallery-hebergements:hover{
  transform: scale(1.1);
}

div.hebergements-marseille{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  margin-right: 50px;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 70px;
  border-radius: 25px;
  background-color: #F2F2F2;
  grid-row-gap: 70px;
}
.overlay{
  background-color: white;
  position: relative;
  border-radius: 0 0 20px 20px;
  padding-bottom: 10px;
  width: 240px;
  z-index: 4;
  margin-right: 0px;
  margin-top: 190px;
  box-shadow: 0 4px 4px 0 #656565;;
}
h3.caption{
  font-size: 17px;
  margin-left: 15px;
  margin-bottom: 4px;
  padding-top: 5px;
  color: black;
  font-weight: bold;
  text-transform: none;
}
p.caption{
  margin-left: 15px;
  margin-bottom: 7px;
  color: black;
  margin-top: 3px;
}
.stars{
  color: #0065FC;
  margin-left: 15px;
}

.grid-image{
  display: grid;
  margin-top: 75px;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
  width: 240px;
  height: 140px;
  border: 5px solid white;
  box-shadow: 0 20px 20px 0  #656565;
}
.afficher-plus{
  margin-top: 50px;
  font-weight: bold;
  
}
/* ASIDE*/

aside{
  display: grid;
  position: relative;
  padding-top: 0px;
  border-radius: 25px;
  background-color:#F3F1F1;
}
.header2{
  height: fit-content;
  position: absolute;
}
h2.title-populaire{
  margin-left: 55px;
  padding: 20px 0;
}
.populaire{
  display: grid;
  position: relative;
  width:600px;
  margin-top: 70px;
  padding-left: 55px;
  align-content: left;
}
.grid-image2{
  display: grid;
  margin-top: 26px;
  position: absolute;
  object-fit: cover;
  border-radius: 15px;
  width: 220px;
  height: 150px;
  border: 5px solid white;
  box-shadow: 0 2px 2px 0  #656565;
}
/* ASIDE OVERLAY */

.overlay2{
  display: flex;
  background-color: white;
  position: absolute;
  border-radius:0 20px 20px 0;
  width: 260px;
  height: 150px;
  margin-left: 150px;
  margin-top: 26px;
  box-shadow: 2px 2px 2px 0  #656565;
}
h3.caption2{
  display: flex;
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 0;
  width: fit-content;
  height: fit-content;
}
p.caption2{
  margin: 0;
  display: flex;
  align-items: left;
  height: fit-content;
}
.gallery-populaire{
  transition: all .2s ease-in-out;
}
.gallery-populaire:hover{
  transform: scale(1.1);
}

/* ACTIVITES A MARSEILLE */

#second-part{
  display: flex;
  margin-top: 130px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 30px;
  background-color: green;
}
h2.title3{
  width: fit-content;
  position: absolute;
  height: fit-content;
  margin-left: 70px;
}
div.title-second-part{
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: px;
}
div.activites-marseille{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 70px;
  column-gap: 50px;
  height: 550px;
  margin-top: 20px;
}
.image-up-down{
  display: block;
  width: fit-content;
}
div.left-div{
  display: flex;
  margin-top: 70px;
  margin-right: 10px;
}
article.gallery-activites{
  display: flex;
  width: fit-content;
  height: fit-content;
}
.image-large1{
  display: grid;
  width: 360px;
  height: 470px;
  object-fit: cover;
  border-radius: 15px;
  z-index: 1;
}
.image-large2{
  display: grid;
  width: 360px;
  height: 470px;
  object-fit: cover;
  border-radius: 15px;
}
.grid-image-large1{
  display: grid;
  margin-top: 0px;
  object-fit: cover;
  margin-left: 60px;
  border-radius: 15px;
  width: 350px;
  height: 240px;
  border: 5px solid white;
  box-shadow: 0 2px 2px 0  #656565;
}
.grid-image-small1{
  display: grid;
  margin-top: 0px;
  object-fit: cover;
  margin-left: 60px;
  border-radius: 15px;
  width: 350px;
  height: 130px;
  border: 5px solid white;
  box-shadow: 0 2px 2px 0  #656565;
}
.grid-image-small2{
  display: grid;
  margin-top: 0px;
  object-fit: cover;
  margin-left: 60px;
  border-radius: 15px;
  width: 350px;
  height: 150px;
  border: 5px solid white;
  box-shadow: 0 2px 2px 0  #656565;
}
.grid-image-large2{
  display: grid;
  margin-top: 0px;
  object-fit: cover;
  margin-left: 60px;
  border-radius: 15px;
  width: 350px;
  height: 220px;
  border: 5px solid white;
  box-shadow: 0 2px 2px 0  #656565;
}
div.overlay3-img1{
  display: flex;
  background-color: white;
  width: 350px;
  height: 50px;
  margin-right: 0px;
}
.overlay3-img2{
  display: flex;
  background-color: white;
  width: 350px;
  margin-right: 0;
}
.overlay3-img3{
  display: flex;
  background-color: white;
  width: 350px;
}
.overlay3-img4{
  display: flex;
  background-color: white;
  width: 350px;
}
.overlay3-img5{
  display: flex;
  background-color: white;
  width: 350px;
}
.overlay3-img6{
  display: flex;
  background-color: white;
  width: 350px;
  
}
div.right-div{
  display: flex;
  margin-top: 70px;
}
div.image-up-down{
  display: grid;
}
.gallery-activites{
  transition: all .2s ease-in-out;
}
.gallery-activites:hover{
  transform: scale(1.1);
}
.footer{
  display: flex;
  margin-top: 70px;
  background-color:#F2F2F2;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-around;
}
.colonne1, .colonne2, .colonne3{
  display: block;
  height: fit-content;
}
.footer-links{
  color: black;
}


















































@media screen and (max-width: 870px) {
  header {
     float: none;

     text-align: left;
  }
}





/*For tablets: */
@media  screen and (max-width: 600px) {
  div.hebergements-marseille{
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  #first-part{
    flex-direction: column;
  }
  .gallery-populaire{
    width: fit-content;
  }
}





  























/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }